{% extends "base.html" %}
{% block title %}Listings{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/listings.css">
<script type="text/javascript" src="/static/listings.js"></script>
{% endblock %}
{% block content %}
    <h2>Latest scraped listings:</h2>
    <div id="listing_cont">
        {% for listing in listings %}
            <div class="listing_short">
                <div class="thumbnail">
                    <div id="listing_images_{{ listing.id }}" class="images">
                    {% for image in listing.images[0:] %}
                        <img class="image" data-show="false" id="image_{{ image['id'] }}" data-listing-id="{{ listing.id }}" src="{{ image['url'] }}">
                    {% endfor %}
                    {% if not listing.images[0] %}
                        <img class="image" data-show="true" src="/static/no_images.svg">
                    {% endif %}
                    </div>
                    <div id="listing_selector_{{ listing.id }}" class="image_selector">
                        {% for image in listing.images %}<div class="image_select" data-image-id="{{ image['id'] }}" data-listing-id="{{ listing.id }}">&#9675;</div>{% endfor %}
                    </div>
                </div>
                <div class="detail_1">
                    <div class="type_size">{{ listing.housing_type}}, {{ listing.living_space_m2 }}m²</div>
                    <div class="layout">{{ listing.layout }}</div>
                    <div class="price">{{ '{:.2f}'.format(listing.price) }} &euro;/kk</div>
                </div>
                <div class="detail_2">
                    <div class="address_1">{{ listing.city }}, {{ listing.suburb }}</div>
                    <div class="address_2">{{ listing.street_address }}</div>
                    <div class="build_year">{{ listing.build_year }}</div>
                </div>
                <div class="agency">{{ listing.agency }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}